<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="Property1" value="HelloCustomFileLogger" />
	<appender name="SAVE-TO-FILE" class="ch.qos.logback.core.FileAppender">
		<file>file1.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<logger name="com.learn.java.logger.controller.LoggerController"
		additivity="false" level="trace">
		<appender-ref ref="SAVE-TO-FILE" />
	</logger>

	<logger name="com.learn.java.logger" additivity="false"
		level="debug">
		<appender-ref ref="SAVE-TO-FILE" />
	</logger>

	<root level="info">
		<appender-ref ref="SAVE-TO-FILE" />
	</root>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
</configuration>