<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
<!-- encoders are assigned the type
ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>app name: ${springAppName:-} baggage": "%X{key:-} %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} ${PID:-} traceId: %X{traceId:-} spanId: %X{spanId} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
    <appender-ref ref="STDOUT" />
    </root>
</configuration>