<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOG_PATTERN">
            Hi %d{yyyy-MM-dd HH:mm:ss.SSS} --- thread_id="%tid" thread_name="%tn" thread_priority="%tp" --- [%p] %m%n
        </Property>
    </Properties>
    <Loggers>
        <Logger name="om.learn.java.logger.controller" level="trace">
            <AppenderRef ref="LOG_PATTERN"/>
        </Logger>
    </Loggers>
</Configuration>