<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="Property1" value="HelloCustomFileLogger" />
	<property name="log.path" value="src/main/resources/log" />
	<property name="log2" value="A" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				${Property1} %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="SAVE-TO-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.path}/file1.log</file>
		<encoder>
			<Pattern>
				%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${log.path}/file1${log2}%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex><!-- Maximum number of archived log files -->
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>1KB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<springProfile name="dev">
		<logger name="com.learn.java.logger.controller.LoggerController"
			additivity="false" level="trace">
			<appender-ref ref="SAVE-TO-FILE" />
			<appender-ref ref="STDOUT" />
		</logger>

		<logger name="com.learn.java.logger" additivity="false"
			level="debug">
			<appender-ref ref="SAVE-TO-FILE" />
			<appender-ref ref="STDOUT" />
		</logger>
		<root level="info">
			<appender-ref ref="SAVE-TO-FILE" />
			<appender-ref ref="STDOUT" />
		</root>
	</springProfile>

	<springProfile name="prod">
		<logger name="com.learn.java.logger.controller.LoggerController"
			additivity="false" level="trace">
			<appender-ref ref="SAVE-TO-FILE" />
		</logger>

		<logger name="com.learn.java.logger" additivity="false"
			level="debug">
			<appender-ref ref="SAVE-TO-FILE" />
		</logger>
		<root level="info">
			<appender-ref ref="SAVE-TO-FILE" />
		</root>
	</springProfile>


	<include resource="org/springframework/boot/logging/logback/base.xml" />
</configuration>